.customUl {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.customUl > .customLi  {
    background-color: var(--secondary-background-color);
    padding: 5px;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
}

.marker {
    border: 3px solid red;
}