.customDiag {
    margin: auto;
    max-width: 440px;
    border: 3px solid black;
    border-radius: var(--primary-border-radius);
    background-color: rgb(247, 180, 180);
    text-align: center;
    padding: 20px 40px;
    box-shadow: var(--primary-box-shadow);
}

.customDiag > h1, .customDiag > p {
    color: rgb(110, 27, 27);
}
